.Footer{
    background-color: var(--background-light);
}

.footer-body{
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
    padding-top: 5vh;
}

.footer-body ul{


}

.footer-body ul li{
    list-style: none;
    color: var(--text-light);
    cursor: pointer;
    font-size: 1.1rem;
    text-align: center;
}

.footer-body ul li:hover{
    color: var(--primary-color);
}

.Footer hr{
    width: 95%;
    border-color: var(--primary-color-dark);
}

.Footer p{
    margin: 0;
    text-align: center;
    padding-bottom: 3vh;
    padding-top: 2vh;
    font-size: 1.2rem;
    color: var(--primary-color);
}